

{% extends "base.html" %}

{% load static %}


{% block content %}


<div class="row">
  <!-- Left col -->
  <div class="col-md-12">

    <!-- TABLE: Teacher Reflections -->
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Staff Members</h3>
      </div>
      <!-- /.card-header -->
      <div class="card-body">
        <div class="table-responsive">
          <table id="example2" class="table table-bordered table-hover">
            <thead>
              <tr>
                <th>Name</th>
                <th>Department</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              {% for member in members %}
              <tr>
                <td>{{ member.full_name }}</td>
                <td>{{ member.department.name }}</td>
                <td><a href="{% url "teacher_reflections" member.id %}" class="btn btn-sm btn-primary">View</a></td>
              </tr>
              {% empty %}
              <tr><td colspan="5">No staff found.</td></tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <!-- /.table-responsive -->
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>
  <!-- /.col -->
</div>
<!-- /.row -->

{% endblock content %}



{% block css %}

<!-- DataTables -->
  <link rel="stylesheet" href="{% static "plugins/datatables-bs4/css/dataTables.bootstrap4.min.css" %}">
  <link rel="stylesheet" href="{% static "plugins/datatables-responsive/css/responsive.bootstrap4.min.css" %}">
  
{% endblock css %}


{% block js %}

<!-- DataTables  & Plugins -->
<script src="{% static "plugins/datatables/jquery.dataTables.min.js" %}"></script>
<script src="{% static "plugins/datatables-bs4/js/dataTables.bootstrap4.min.js" %}"></script>
<script src="{% static "plugins/datatables-responsive/js/dataTables.responsive.min.js" %}"></script>
<script src="{% static "plugins/datatables-responsive/js/responsive.bootstrap4.min.js" %}"></script>


<script>
  $(function () {
    
    $('#example2').DataTable({
      "paging": true,
      "lengthChange": true,
      "searching": true,
      "ordering": false,
      "info": true,
      "autoWidth": false,
      "responsive": true,
    });
  });
</script>

{% endblock js %}